.apartment__date {
  background-color: $gray-bg;
  border-radius: 5px;
  margin-top: 15px;
  line-height: 1rem;
  padding: 12px 20px;
  margin-bottom: 35px;
}

.apartment__text {
  font-size: 1.125rem;
}

.apartment__line {
  background-color: $yellow-bg;
  height: 5px;
  width: 100%;
  margin: 25px 0 30px;
}

.apartment__button-collapse {
  background: $light-yellow-gradient;
  font-size: 1.125rem;
  color: $light-green-text;
  font-weight: bold;
  padding: 16px 22px;
  line-height: 1.125rem;
  box-shadow: 0 0 15px 2px rgba(0,0,0,.15);
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;

  @media (max-width: 567px) {
    line-height: 1.5rem;
  }

  &:before {
    content: "";
    display: inline-block;
    background-image: url('#{$img-path}/common/icons/ic_dop_yslygi.png');
    image-rendering: -webkit-optimize-contrast;
    background-size: contain;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    vertical-align: sub;
    margin-right: 23px;
  }

  &:after {
    content: "▼";
    display: inline-block;
    font-size: 1.25rem;
    right: 23px;
    top: 18px;
    position: absolute;
  }

  .apartment__collapse {
    color: $dark-text;
    font-weight: normal;
    margin-top: 25px;
    line-height: 1.5rem;

    p {
      line-height: 1.8rem;
      margin-bottom: 1.5rem;
    }
  }

  &.show {
    background: $light-yellow-bg;

    &:after {
      content: "▲";
    }
  }

  &:last-child {
    margin-bottom: 50px;
  }
}





.apartment-search {
  background-image: url('#{$img-path}/common/search_bg_orange.jpg');
  background-position: center;

  @media (max-width: 992px) {
    padding-top: 15px;
  }
}

.apartment-search__form {
  min-height: 142px;
  height: 142px;

  @media (max-width: 992px) {
    height: auto;
  }

  select, input[type="text"] {
    line-height: 40px;
    height: 40px;
    padding: 0 8px;
    border-color: $gray-border!important;
    outline: none!important;
    box-shadow: none!important;

    @media (max-width: 992px) {
      line-height: 36px;
      height: 36px;
    }
  }

  select {
    padding: 0 0 0 5px;
    width: 100px;
    line-height: 40px;
    height: 40px!important;
    margin-top: 38px;

    @media (max-width: 992px) {
      margin-top: 30px;
    }
    @media (max-width: 768px) {
      height: 36px!important;
      line-height: 36px!important;
    }
  }

  label {
    margin-bottom: 15px;

    @media (max-width: 992px) {
      margin-bottom: 5px;
    }
  }
}

.apartment-search__form__price {
  input[type="text"]  {
    width: 90px;

    @media (max-width: 1200px) {
      width: 70px;
    }
  }
  span {
    margin: 0 8px;
  }
}

.apartment-search__form__area {
  input[type="text"]  {
    width: 60px;
  }
  span {
    margin: 0 8px;
  }
}

.apartment-search__form__terrace {
  margin-left: 8px;
}

.apartment-search__form__search {
  border: none;
  font-weight: bold;
  font-size: 1.125rem;
  box-shadow: none!important;
  outline: none!important;
  width: 160px;
  line-height: 40px;
  height: 40px;
  padding: 0;
  margin-top: 38px;
  position: relative;

  @media (max-width: 992px) {
    margin-top: 23px;
  }

  @media (max-width: 768px) {
    height: 36px;
    line-height: 36px;
    width: 100px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url('#{$img-path}/common/lizards/lizard_search.png');
    background-size: contain;
    image-rendering: -webkit-optimize-contrast;
    width: 237px;
    height: 165px;
    bottom: -5px;
    left: 1px;

    @media (max-width: 992px) {
      display: none;
    }
  }
}

.apartment-search__form__checkbox {
  margin-top: 40px;

  @media (max-width: 340px) {
    margin-top: 10px;
  }

  .cr {
    border-color: $gray-border;
  }

  label {
    margin-bottom: 0;
  }
}

.apartment-select {
  line-height: 40px;
  height: 40px;
  width: 35px;
  color: $select-bg;
  background-color: $light-text;
  border: 1px solid $gray-border!important;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  margin-left: 6px;
  box-shadow: none!important;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }

  &.active {
    color: $light-text!important;
    background-color: $select-bg!important;
  }
}

.apartments-table {
  width: 100%;
  text-align: center;
  margin-top: 30px;

  th {
    font-weight: normal;
    border-bottom: 5px solid $table-line-bg;
    padding: 10px 0;
    vertical-align: top;

    @media (max-width: 576px) {
      font-size: 0.875rem;
      position: relative;
      padding-bottom: 20px;
      img {
        display: block;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 5px;
        position: absolute;
        width: 10px;
      }
    }
  }

  tr {
    td {
      font-size: 1.125rem;
      font-weight: bold;
      padding: 1rem 0;

      @media (max-width: 576px) {
        font-size: 1rem;
      }

      a {
        display: block;
        text-decoration: none!important;
        color: $dark-text!important;
      }
    }

    &:nth-child(2n+2) {
      background-color: $light-yellow-bg;
    }
  }
}

.apartments-table__terrace_check {
  width: 22px;
  height: 22px;
  margin: 0 auto;
  background-image: url('#{$img-path}/common/icons/check.png');
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;

  &.active {
    background-position: bottom;
    height: 20px;
  }
}

.apartments-table__price {
  color: $select-bg!important;
  white-space: nowrap;
}

.apartments-table__house-ready {
  font-size: 0.875rem;
  display: block;
  font-weight: normal;
}

.sort-arrow {
  cursor: pointer;
}

.apartment-slider_min-height {
  min-height: 500px;
}