//Paths
$img-path: './../images';

//Fonts
$main-font: 'Roboto Condensed', sans-serif;
$extra-font: 'Roboto', sans-serif;

//Backgrounds
$components-bg: #dce6f3;
$modal-bg: #fff;
$overlay-bg: #09492d;

$footer-line-bg: #a5d5c2;
$docs-line-bg: #bcbcbc;
$gray-bg: #f0f0f0;
$light-green-bg: #e5f3ef;
$yellow-bg: #ffe222;
$light-yellow-bg: #fcfaea;
$green-bg: #7ec7a7;
$select-bg: #169d5c;
$green-gradient: linear-gradient(to right, #2fb88a 0%,#059c4f 100%);
$light-yellow-gradient: linear-gradient(to bottom, #ffffff 0%,#faf9f4 35%,#f6f4eb 100%);

//Colors
$light-text: #fff;
$dark-text: #404040;
$black-text: #000;
$green-text: #00573b;
$light-green-text: #04a773;
$tabs-green: #058e62;
$gray-text: #929292;
$gray-border: #cdcdcd;
$pagination-border: #dddddd;

//Genplan
$plan-yellow: #f8d823;
$plan-yellow-border: #00583c;
$plan-blue: #5795e5;
$plan-hover: #1cffb0;
$plan-orange: #e77508;
$plan-pink: #c110f0;

//Tables
$table-row-bg: #f1efe0;
$table-line-bg: #8dc3a9;
